.Checkout {
  display: flex;
  flex-direction: row;
  background-color: var(--c5l);
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 2rem;
}
.Checkout__left {
  /* border: 1px solid black; */
  width: 70%;
}
.Checkout__right {
  border: 1px solid black;
  width: 28%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
