.Footer {
  background-color: var(--c4d);
  color: white;
}
.Footer__columns {
  background-color: var(--c3d);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Footer__columns__column__logo {
  height: 60px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#Footer__logo {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Footer__contact__email__input {
  border: none;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 2px;
}
#Footer__contact__email__button {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  background-color: var(--c2l);
}
#Footer__button {
  text-decoration: none;
  color: white;
}
