* {
  margin: 0;
  padding: 0;
}

.CS__page {
  text-align: center;
  width: 90%;
  border: 10px solid #65ccb8;
  padding: 25px;
  margin-top: 9px;
  /* margin-right: 35px; */
  margin-bottom: 2px;
  margin-left: 5%;
}

.CS__text {
  /* text-decoration: underline; */
}

/* Control the left side */

.CS__App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CS__container {
  width: 800;
  height: 300;
  margin: 100px auto;
}

.CS__btn {
  margin-top: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

.CS__container {
  width: 100%;
}

.CS__row {
  margin-top: 50px;
  justify-self: unset;
  text-align: left;
  padding: 0 5rem;
}

.CS__col {
  margin-top: 30px;
  text-align: left;
}

.CS__sm {
  margin-top: 30px;
  text-align: left;
}
