.thead-dark {
  background-color: var(--c2d);
}
.table {
  width: 90%;
  border: 2px solid black;
  text-align: center;
  margin-bottom: 0;
}
.table td {
  vertical-align: middle;
}

.btn__order {
  background-color: var(--c2n);
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  border: none;
}

.btn__order:hover {
  cursor: pointer;
  transform: scale(1.05);
}
